.outcomes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.outcomes_client {
  position: relative;
}

.outcomes_quote-icon {
  position: absolute;
  bottom: 50px;
}

@media (max-width: 576px) {
  .outcomes-container {
    flex-wrap: wrap;
  }
}
